Ihre aktuelle Rechnung


Es ist eine neue Rechnung in Ihrem Kundenkonto verfügbar. Die Summe beträgt {% for currency, value in customer_invoice.sum_per_currency.items() %} {{ '%0.2f'| format(value.gross | float) }} {{ currency }}{% if loop.last %}. {% else %}, {% endif %} {% endfor %}

Kopieren Sie den folgenden Link in Ihren Browser "Rechnung ansehen":
{{ customer_invoice.pdf_url }}

Eine Auflistung aller verrechneten Kurzparkvorgänge finden Sie in Ihrem Account , oder hier klicken zum herunterladen. 
({{ customer_invoice.cost_calculations_pdf_url }})

{% if is_credit %} Ihr Guthaben wird nicht ausgezahlt. Es wird bei der nächsten Abbuchung von Ihrem hinterlegten Zahlungsmittel berücksichtigt. {% else %} {% if payment_method %} {% if payment_method.source_type == "sepa" %} Bitte überweisen Sie uns nichts. Der Betrag wird automatisch von Ihrem Bankkonto (IBAN ****{{ payment_method.backend_public_data.last4 }}) mit Gläubiger-ID {{ sepa_creditor_id }} am 5ten abgebucht. {% elif payment_method.source_type == "credit" %} Bitte überweisen Sie uns nichts. Der Betrag wird automatisch von Ihrer Kreditkarte (Nummer ****{{ payment_method.backend_public_data.last4 }}) am 5ten abgebucht. {% endif %} {% endif %} {% endif %}
