Payment Cancellation from {{ cancellation.created|date("DATE_FORMAT") }}


The Payment from {{ payment_receipt.created|date("DATE_FORMAT") }} with the receipt number {{ payment_receipt.number_series }}-{{ payment_receipt.number }} was canceled. The canceled amount is {% for currency, value in payment_receipt.sum_per_currency.items() %} {{ '%0.2f'| format(value.gross | float) }} {{ currency }}{% if not loop.last %}, {% endif %} {% endfor %} and will be refunded to your account within 5-10 business days.

Copy the following link and paste in your browser to "View Cancellation":
{{ cancellation.pdf_url }}
