<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rechnung</title>

    <style>
        @page {
            size: A4;
            margin: 0;
            padding: 0;
        }

        html, body {
            size: A4;
            width: 210mm;
            height: 297mm;
            margin: 0;
            padding: 0;
            font-size: 13px;
            -webkit-print-color-adjust: exact;
        }

        h3, p {
            word-break: break-word;
        }

        h3 {
            font-size: 17px;
        }

        .page {
            margin: 15mm;
            width: 180mm;
        }


        .m-0 {
            margin: 0;
        }

        .p-0 {
            padding: 0;
        }

        .mr-10 {
            margin-right: 10px;
        }

        .text-bold {
            font-weight: bold;
        }

        .text-small {
            font-size: 11px;
            margin: 0;
        }


        .header {
            height: 50mm;
        }

        #logo {
            margin-top: 15mm;
            width: 40%;
            max-height: 50mm;
            float: right;
        }

        .address-provider-container {
            padding-top: 15mm;
        }


        .invoice-summary-container {
            padding-top: 1mm;
            padding-bottom: 3mm;
        }

        .invoice-summary-header {
            text-align: center;
            margin-bottom: 3mm;
        }


        .invoice-table {
            border-collapse: collapse;
            width: 100%;
        }

        .invoice-table-head {
            font-weight: bold;
            border-bottom: 1px solid black;
        }

        .invoice-table-seperator-top {
            margin-top: 2mm;
        }

        .invoice-table-seperator-bottom {
            margin-bottom: 2mm;
            border-top: 1px solid black;
        }

        .invoice-table-summary {
            font-weight: bold;
            background-color: lightgray;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }


        .footer {
            margin-right: 15mm;
            margin-bottom: 10mm;
            position: absolute;
            bottom: 0;
            color: gray;
        }
    </style>
</head>
<body class="page">
<div class="header">
    <img id="logo" src="{{ image('logo') }}" alt="logo">
    <div class="address-provider-container">
        <p class="m-0 text-bold">{{ provider_address.name }}</p>
        <p class="m-0">{{ provider_address.address1 }}</p>
        {% if provider_address.address2 %}
            <p class="m-0">{{ provider_address.address2 }}</p>
        {% endif %}
        <p class="m-0">{{ provider_address.zip_code }} {{ provider_address.city }}</p>
        <p class="m-0">{{ provider_address.country|country }}</p>
        <br/>
        
    </div>
</div>
{% with billing_details=payment_data.backend_public_data.billing_details %}
    {% if billing_details %}
        <div>
            <p class="m-0">{{ billing_details.name }}</p>
            {% if billing_details.address.line1 %}
                <p class="m-0">{{ billing_details.address.line1 }}</p>
            {% endif %}
            {% if billing_details.address.line2 %}
                <p class="m-0">{{ billing_details.address.line2 }}</p>
            {% endif %}
            {% if billing_details.address.postal_code and billing_details.address.city %}
                <p class="m-0">{{ billing_details.address.postal_code }} {{ billing_details.address.city }}</p>
            {% endif %}
            {% if billing_details.address.country %}
                <p class="m-0">{{ billing_details.address.country|country }}</p>
            {% endif %}
            {% if billing_details.phone %}
                <p class="m-0">Telefonnummer: {{ billing_details.phone }}</p>
            {% endif %}
            <p class="m-0">E-Mail: {{ billing_details.email }}</p>
        </div>
    {% endif %}
{% endwith %}
<div class="invoice-summary-container">
    <h3 class="invoice-summary-header">Stornorechnung vom {{ cancellation.created|date("DATE_FORMAT") }}</h3>

    <p class="m-0">Rechnungsnummer: {{ cancellation.number_series }}-{{ cancellation.number }}</p>
    <p class="m-0">Erstellt am: {{ cancellation.created|date("DATE_FORMAT") }}</p>
</div>
<div class="invoice-summary-container">
    <p class="m-0">Diese Rechnung hebt die Rechnung vom {{ payment_receipt.created|date("DATE_FORMAT") }} mit der Rechnungsnummer {{ payment_receipt.number_series }}-{{ payment_receipt.number }} auf.</p>
</div>
<div>
    <table class="invoice-table">
        <thead class="invoice-table-head">
        <tr>
            <td style="width: 70%;">Rechnungsübersicht</td>
            <td style="width: 10%;">MwSt. (%)</td>
            <td style="width: 10%;">Netto</td>
            <td style="width: 10%;">Brutto</td>
        </tr>
        </thead>
        <tbody>
        <tr style="height: 2mm;"></tr>
        {% for payment_receipt_item in payment_receipt_items %}
            <tr>
                <td>
                    <p class="m-0 text-bold">{{ payment_receipt_item.name }}</p>
                    <div>{{ payment_receipt_item.description }}</div>
                </td>
                <td nowrap="nowrap">
                    <span class="mr-10">
                        {{ '%0.2f'| format(payment_receipt_item.amount | vat(payment_receipt_item.vat_percent) | float * -1) | replace('.', ',') }}
                        {{ payment_receipt_item.amount_currency }}
                        ({{ '%0.2f'| format(payment_receipt_item.vat_percent | float) | replace('.', ',') }}%)
                    </span>
                </td>
                <td nowrap="nowrap">
                    <span class="mr-10">
                        {{ '%0.2f'| format(payment_receipt_item.amount | net(payment_receipt_item.vat_percent) | float * -1) | replace('.', ',') }}
                        {{ payment_receipt_item.amount_currency }}
                    </span>
                </td>
                <td nowrap="nowrap">
                    <span class="mr-10">
                        {{ '%0.2f'| format(payment_receipt_item.amount.amount | float * -1) | replace('.', ',') }}
                        {{ payment_receipt_item.amount_currency }}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="p-0">
                    <div class="invoice-table-seperator-top"></div>
                    {% if not loop.last %}
                        <div class="invoice-table-seperator-bottom"></div>
                    {% endif %}
                </td>
                <td class="p-0">
                    <div class="invoice-table-seperator-top"></div>
                    {% if not loop.last %}
                        <div class="invoice-table-seperator-bottom"></div>
                    {% endif %}
                </td>
                <td class="p-0">
                    <div class="invoice-table-seperator-top"></div>
                    {% if not loop.last %}
                        <div class="invoice-table-seperator-bottom"></div>
                    {% endif %}
                </td>
                <td class="p-0">
                    <div class="invoice-table-seperator-top"></div>
                    {% if not loop.last %}
                        <div class="invoice-table-seperator-bottom"></div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr class="invoice-table-summary">
            <td>Rechnungsbetrag</td>
            <td nowrap="nowrap">
                {% for currency, value in payment_receipt.sum_per_currency.items() %}
                    <p class="m-0">
                        {{ '%0.2f'| format(value.vat | float * -1) | replace('.', ',') }} {{ currency }}
                    </p>
                {% endfor %}
            </td>
            <td nowrap="nowrap">
                {% for currency, value in payment_receipt.sum_per_currency.items() %}
                    <p class="m-0">
                        {{ '%0.2f'| format(value.net | float * -1) | replace('.', ',') }} {{ currency }}
                    </p>
                {% endfor %}
            </td>
            <td nowrap="nowrap">
                {% for currency, value in payment_receipt.sum_per_currency.items() %}
                    <p class="m-0">
                        {{ '%0.2f'| format(value.gross | float * -1) | replace('.', ',') }} {{ currency }}
                    </p>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <p class="text-small m-0">
        {% if provider_address.vat_id %}
            <span class="mr-10">
            UID Nummer {{ provider_address.vat_id }}
            </span>
        {% endif %}
        {% if provider_address.register_number %}
            <span class="mr-10">
            FN: {{ provider_address.register_number }}
            </span>
        {% endif %}
        {% if provider_address.jurisdiction %}
            <span class="mr-10">
            Gerichtsstand: {{ provider_address.jurisdiction }}
            </span>
        {% endif %}
    </p>
    
</div>
</body>
</html>
