Dispute Fee


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hi {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Unfortunately we were notified that your payment was disputed. Due to the dispute we have to charge a fee of {{ fee.amount|money(fee.amount_currency) }} from your account balance.
