Anfechtungsgebühr


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Bedauerlicherweise wurden wir über die Anfechtung Ihrer Zahlung in Kenntnis gesetzt. Aufgrund der Anfechtung müssen wir eine Gebühr von {{ fee.amount|money(fee.amount_currency) }} auf Ihrem Konto verrechnen.
