Zahlung zurückerstattet


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Wir haben {{ refund.amount|money(refund.amount_currency) }} von einer Ihrer Zahlungen zurückerstattet. Es kann bis zu einer Woche dauern, bis das Guthaben auf Ihrem Bankkonto oder auf Ihrer Kreditkarte aufscheint.

{% if customer.pays_with_cash %} Bitte nehmen Sie sich einen Moment Zeit um Ihren Account zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen. {% else %} Bitte nehmen Sie sich einen Moment Zeit um Ihren Account zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen. Falls Sie dies nicht erledigen, kann Ihre Parkberechtigung gesperrt werden. {% endif %}

Kopieren Sie den folgenden Link in Ihren Browser "Zu Meinem Account":
{{ link('frontend', 'Account') }}
