Bezahlung fehlgeschlagen!


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Wir haben versucht Ihren Account mit {{ payment.amount|money(payment.amount_currency) }} zu belasten, aber wir konnten kein gültiges Zahlungsmittel finden. Das kann passieren wenn Ihre Kreditkarte abgelaufen ist, oder sich Ihre Bankverbindung geändert hat.

Bitte nehmen Sie sich einen Moment Zeit um ihre Zahlungsmittel zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen. Falls Sie dies nicht erledigen, kann ihre Parkberechtigung gesperrt werden.

Kopieren Sie den folgenden Link in Ihren Browser "Zu Meinem Account":
{{ link('frontend', 'Account') }}
