Payment succeeded


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hi {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

We have just received a payment of {{ payment.amount|money(payment.amount_currency) }} and booked it into your account.

Copy the following link and paste in your browser to "View Payments":
{{ link('frontend', 'Account') }}
