Bezahlung fehlgeschlagen!


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

{% if dispute_fee %}

Leider wurden wir informiert, dass ihre Zahlung angefochten wurde. Aufgrund der angefallenen Gebühren müssen wir Ihnen diese in der Höhe von {{ dispute_fee.amount|money(dispute_fee.amount_currency) }} verrechnen.

{% if customer.pays_with_cash %} Bitte nehmen Sie sich einen Moment Zeit um ihre Zahlungsmittel zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen. {% else %} Bitte nehmen Sie sich einen Moment Zeit um ihre Zahlungsmittel zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen. Falls Sie dies nicht erledigen, kann ihre Parkberechtigung gesperrt werden. {% endif %}

{% else %}

Ihre letzte Zahlung inder Höhe von {{ payment.amount|money(payment.amount_currency) }} ist fehlgeschlagen.

{% if customer.pays_with_cash %} Bitte nehmen Sie sich einen Moment Zeit um ihre Zahlungsmittel zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen. {% else %} Bitte nehmen Sie sich einen Moment Zeit um ihre Zahlungsmittel zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen. Falls Sie dies nicht erledigen, kann ihre Parkberechtigung gesperrt werden. {% endif %}

{% endif %}

Kopieren Sie den folgenden Link in Ihren Browser "Zu Meinem Account":
{{ link('frontend', 'Account') }}
