Aktion erforderlich


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Wir benötigen Ihre Aufmerksamkeit um eine Zahlung abzuschließen. Bitte klicken Sie auf den Button unterhalb und folgen Sie den Instruktionen Ihrer Bank.

Kopieren Sie den folgenden Link in Ihren Browser "Bezahlung tätigen":
{{ link('frontend', 'PaymentDetail', customerId=customer.id, paymentId=payment.id, token=token) }}
