Your payment method was removed


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hi {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

{% if payment_method.source_type == "sepa" %} A bank account (IBAN ****{{ payment_method.backend_public_data.last4 }}) was removed from your payment methods. {% elif payment_method.source_type == "credit" %} A credit card (number ****{{ payment_method.backend_public_data.last4 }}) was removed from your payment methods. {% else %} A monetary medium was removed from your payment methods. {% endif %} This can happen when credit cards expire, bank accounts change or the payment method was rejected several times.

Please take a moment to review your payment methods and to settle any outstanding payments by manually topping up your account. If you fail to do so your parking permission will be restricted.

Copy the following link and paste in your browser to "Go to my Account":
{{ link('frontend', 'Account') }}
