Willkommen in der Parkgarage "{{ application.garage.name }}"!


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Wir haben Ihre Tarifanfrage für {{ application.product_name }} in {{ application.garage.name }} akzeptiert und werden für Sie das Kundenkonto freigeschalten. Bei wichtigen Informationen, Änderungen, Tarifanpassungen, etc. werden wir Sie per Email informieren.

{% if application_status.status_message %}

Antwort von unserem Team:

{{ application_status.status_message }}

{% endif %}
