Ihre Anfrage


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Wir haben Ihre Anfrage für {{ application.product_name }} an unserer Parkgarage {{ application.garage.name }} erhalten. Wir werden Ihnen so bald wie möglich weitere Informationen übermitteln.

{{ application.comment }}
