Zahlungsaufforderung


{% if restriction.customer.custom_salutation %} {{ restriction.customer.custom_salutation }}, {% else %} {% if restriction.customer.salutation %} {{ restriction.customer.salutation }}, {% else %} Hallo {{ restriction.customer.first_name }} {{ restriction.customer.last_name }}, {% endif %} {% endif %}

Sie haben noch offene Rechnungen auf Ihrem Konto. Bitte nehmen Sie sich einen Moment Zeit um ihre Zahlungsmittel zu überprüfen. Falls noch Zahlungen ausständig sind können Sie diese mit einer Einmalzahlung begleichen.

Kopieren Sie den folgenden Link in Ihren Browser "Zu Meinem Account":
{{ link('frontend', 'Account') }}

Bis wir Ihre Zahlung erhalten, werden Sie keinen Zugang zu allen {{ restriction.provider.name }} Garagen haben, beginnend mit {{ restriction.start|date("DATETIME_FORMAT") }}. Dies betrifft alle Ihre Verträge und Fahrzeuge.
