Zugangsbeschränkung aufgehoben


{% if restriction.customer.custom_salutation %} {{ restriction.customer.custom_salutation }}, {% else %} {% if restriction.customer.salutation %} {{ restriction.customer.salutation }}, {% else %} Hallo {{ restriction.customer.first_name }} {{ restriction.customer.last_name }}, {% endif %} {% endif %}

Wir freuen uns Ihnen mitteilen zu dürfen, dass Ihre Zugangsbeschränkung zu allen {{ provider.name }} Garagen aufgehoben wurde. Sie erhalten wieder Zugang zu den Garagen beginnend mit {{ restriction.end|date("DATETIME_FORMAT") }}.
