Payment reminder


{% if restriction.customer.custom_salutation %} {{ restriction.customer.custom_salutation }}, {% else %} {% if restriction.customer.salutation %} {{ restriction.customer.salutation }}, {% else %} Hi {{ restriction.customer.first_name }} {{ restriction.customer.last_name }}, {% endif %} {% endif %}

You have an outstanding balance in on your account. Please take a moment to review your payment methods and to settle any outstanding payments by manually topping up your account.

Copy the following link and paste in your browser to "Go to my Account":
{{ link('frontend', 'Account') }}

Until we receive payment, you will not have access to all {{ restriction.provider.name }} garages with any of your contracts or vehicles, beginning with {{ restriction.start|date("DATETIME_FORMAT") }}
