Your new Parking account


{% if user.salutation %} {{ user.salutation }}, {% else %} Hi {{ user.first_name }} {{ user.last_name }}, {% endif %}

Please complete your registration!

A new customer account was created for you. With this account you will be able to manage your vehicles, license plates, bank details, etc. yourself in the future.

In order to be able to login and complete the registration, please add a password.

Copy the following link and paste in your browser to "Choose password":
{{ link('frontend', 'ResetPasswordWithToken', id=uid, token=token) }}
