Verify your email


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hi {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Thanks for signing up, you are almost finished.

Please verify your email address to complete your registration.

Copy the following link and paste in your browser to "Verify Email":
{{ link('frontend', 'VerifyEmail', token=email_confirmation_key) }}
