Welcome


{% if user.salutation %} {{ user.salutation }}, {% else %} Hi {{ user.first_name }} {{ user.last_name }}, {% endif %}

You have received an invite to the ARIVO Backoffice application.

Please follow the link below and choose a password to get started.

Copy the following link and paste in your browser to "Let's start":
{{ reset_url }}
