Add a payment method


{% if customer.custom_salutation %} {{ customer.custom_salutation }}, {% else %} {% if customer.salutation %} {{ customer.salutation }}, {% else %} Hi {{ customer.first_name }} {{ customer.last_name }}, {% endif %} {% endif %}

Please complete your registration!

You have not yet provided a payment method to your customer account for one of your addresses:

{{ address.address_line(delimiter='\n') | replace('\n', '' | safe) }}

The payment method will be used to pay any parking fees that incur from contracts of a parking space or additional parking sessions.

Copy the following link and paste in your browser to "Add payment method":
{{ link('frontend', 'PaymentUpdateWithToken', customerId=customer.id, addressId=address.id, token=token) }}
