Es wurde eine SEPA Lastschrift veranlasst


{% if customer.salutation %} {{ customer.salutation }}, {% else %} Hallo {{ customer.first_name }} {{ customer.last_name }}, {% endif %}

Wir möchten Ihnen mitteilen, dass Ihre Zahlung an {{ contact.name }} in Höhe von {{ amount.amount|money(amount.currency.code) }} innerhalb von 2 Tagen von Ihrem Bankkonto (IBAN ****{{ last4 }}) eingezogen wird.

{% if garages %} Der Betrag wird aufgrund von Parkvorgängen in {% for garage in garages %} {% if not loop.first %}{% if loop.last %} und {% else %}, {% endif %}{% endif %}{{ garage.name }} {% endfor %} abgebucht. {% endif %} Um mehr Details über diese Zahlung zu sehen, klicken Sie auf den Button unten.

Kopieren Sie den folgenden Link in Ihren Browser "Meine Bezahlungen":
{{ link('frontend', 'InvoiceList') }}

Die SEPA Lastschrift wird auf Ihrem Kontoauszug als „Accessio GmbH“ mit Referenz-ID {{ mandate_reference }} und Gläubiger-ID {{ creditor_id }} erscheinen.

Falls Sie noch weitere Fragen haben können Sie uns unter {{ contact.email }} per E-Mail{% if contact.phone %} oder unter {{ contact.phone }} telefonisch{% endif %} erreichen.
